:root {
  --animate-delay: 0.1s;
  --animate-duration: 0.8s;
}

/* SHOW/HIDE HEADER WHEN SCROLL */
header {
  background-color: #000000;
  z-index: 900;
  /* transition: all 0.3s ease; */
}
header.hide {
  top: -110px;
}
header.after-first-section #header-top {
  background-color: rgba(29, 29, 31, 0.72);
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
}

/* TOGGLE BUTTON */
.menu-icon {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.menu-icon .menu-icon__cheeckbox {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  -webkit-touch-callout: none;
  position: absolute;
  opacity: 0;
}
.menu-icon div {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 28px;
  height: 10px;
}
.menu-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}
.menu-icon span:first-of-type {
  top: 0;
}
.menu-icon span:last-of-type {
  bottom: 0;
}
.menu-icon.active span:first-of-type,
header.active .menu-icon .menu-icon__cheeckbox + div span:first-of-type {
  transform: rotate(45deg);
  top: 4px;
}
.menu-icon.active span:last-of-type,
header.active .menu-icon .menu-icon__cheeckbox + div span:last-of-type {
  transform: rotate(-45deg);
  bottom: 4px;
}
.menu-icon.active:hover span:first-of-type,
.menu-icon.active:hover span:last-of-type,
header.active .menu-icon:hover .menu-icon__cheeckbox + div span:first-of-type,
header.active .menu-icon:hover .menu-icon__cheeckbox + div span:last-of-type {
  width: 28px;
}
@media (min-width: 1024px) {
  .menu-icon:hover span:first-of-type {
    width: 36px;
  }
  .menu-icon:hover span:last-of-type {
    width: 20px;
  }
}
