@font-face {
  font-family: "PlusJakartaSans-Regular";
  src: url("../public/fonts/PlusJakartaSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "PlusJakartaSans-Medium";
  src: url("../public/fonts/PlusJakartaSans-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "PlusJakartaSans-SemiBold";
  src: url("../public/fonts/PlusJakartaSans-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "PlusJakartaSans-Bold";
  src: url("../public/fonts/PlusJakartaSans-Bold.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
}

img {
  vertical-align: top;
}

.container-fluid {
  max-width: 100%;
}

img.fluid {
  width: 100%;
  display: inline-block;
}

.collection-text-box {
  background: rgb(6, 6, 8);
  padding: 40px;
  margin-top: -100px;
  position: relative;
  z-index: 2;
}